.form{
  background-color: #ccc;
}
.text{
  color: #ccc;
  font-family: 'Courier New', Courier, monospace;
  background-color: blue;
}
.list{
  list-style-type: none;
}
body{
  background-color: #ccc;
}
.view{
  display: flex;
}